@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body, html {
  overflow-x: hidden;
}

body {
  font-family: "lexend deca";
  min-width: 350px;
}

a {
  color: #495567;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  min-width: 310px;
}

.round {
  border-radius: 50%;
}

.yellow-circle {
  font-family: "space mono";
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-weight: 700;
  color: #495567;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  color: #495567;
  background-color: #FCB72B;
}
@media screen and (max-width: 375px) {
  .yellow-circle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1.07px;
  }
}

.button {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  background-color: #FCB72B;
  font-size: 15px;
  font-weight: 700;
  font-family: "space mono";
  color: white;
  border: 3px solid #FCB72B;
}

.button:hover {
  background-color: transparent;
  color: #FCB72B;
}

h1 {
  font-family: "space mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  font-weight: 700;
  color: #495567;
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.79px;
  }
}

h2 {
  font-family: "space mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  font-weight: 700;
  color: #495567;
}
@media screen and (max-width: 375px) {
  h2 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
  }
}

h3 {
  font-family: "space mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.79px;
  font-weight: 700;
  color: #495567;
}
@media screen and (max-width: 375px) {
  h3 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
  }
}

h4 {
  font-family: "space mono";
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-weight: 700;
  color: #495567;
}
@media screen and (max-width: 375px) {
  h4 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1.07px;
  }
}

p {
  font-family: "lexend deca";
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 32px;
  }
}
footer {
  background-color: #495567;
  position: relative;
  width: 100%;
  margin-top: 120px;
}
footer .background-circles-desktop {
  z-index: 0;
  position: absolute;
  bottom: 96px;
  right: 0;
}
footer .background-circles-mobile {
  display: none;
}
footer .footer-top .container {
  display: flex;
  justify-content: space-between;
}
footer .footer-top .container * {
  color: white;
}
footer .footer-top .container > * {
  margin: 102px 0;
}
footer .footer-top .container .buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 1;
}
footer .footer-top .container .buttons * {
  color: #495567;
}
footer .footer-top .container .buttons > div {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 4px;
  margin-left: 32px;
  background-color: #E5ECF4;
}
footer .footer-top .container .buttons > div img {
  padding-left: 16px;
  height: 28px;
  opacity: 1;
}
footer .footer-top .container .buttons > div .text-content {
  padding: 8px 15px 8px 12px;
}
footer .footer-bottom {
  background-color: #333a44;
}
footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 31px 0;
}
footer .footer-bottom .container ul {
  display: flex;
  align-items: center;
}
footer .footer-bottom .container .footer-menu > li:first-child {
  margin-right: 60px;
}
footer .footer-bottom .container .footer-menu li {
  margin: 0 16px;
}
footer .footer-bottom .container .footer-menu a:hover {
  color: #FCB72B;
}
footer .footer-bottom .container .footer-menu * {
  color: #939CAA;
}
footer .footer-bottom .container .socmed li {
  margin-left: 24px;
}
footer .footer-bottom .container .socmed li:hover path {
  fill: white;
}

@media screen and (max-width: 1150px) {
  .footer-bottom, .footer-top {
    padding: 0 40px;
  }
}
@media screen and (max-width: 795px) {
  footer .footer-top {
    position: relative;
  }
  footer .footer-top .background-circles-desktop {
    display: none;
  }
  footer .footer-top .background-circles-mobile {
    display: inline;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  footer .footer-top .container {
    flex-direction: column;
  }
  footer .footer-top .container h2 {
    margin: 88px 0 40px 0;
    text-align: center;
  }
  footer .footer-top .container h2 br {
    display: none;
  }
  footer .footer-top .container .buttons {
    justify-content: center;
    margin: 0;
    margin-bottom: 88px;
  }
  footer .footer-top .container .buttons .apple {
    margin: 0;
  }
}
@media screen and (max-width: 685px) {
  footer .footer-bottom * {
    flex-direction: column;
    justify-content: center;
  }
  footer .footer-bottom .container .footer-menu > li:first-child {
    margin: 0;
    margin-top: 64px;
    margin-bottom: 25px;
  }
  footer .footer-bottom .container .footer-menu li {
    margin-top: 16px;
  }
  footer .footer-bottom .container .socmed {
    flex-direction: row;
    margin-top: 80px;
  }
  footer .footer-bottom .container .socmed li {
    margin: 16px;
  }
}
@media screen and (max-width: 375px) {
  footer .footer-top .container .buttons {
    flex-direction: column;
  }
  footer .footer-top .container .buttons .google {
    margin: 0;
    margin-top: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hamburger {
  display: none;
}
header .cross {
  display: none;
}
header nav .menu > button {
  display: none;
}
header nav .menu {
  display: flex;
}
header nav .menu img {
  margin-right: 60px;
}
header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .navbar__links {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
header .navbar__item {
  text-align: center;
}
header .navbar__item a {
  color: #939CAA;
}
header .navbar__item a:hover {
  color: #FCB72B;
}
header button {
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  header .container {
    justify-content: center;
  }
  header nav {
    position: relative;
  }
  header nav .menu > .hamburger,
  header nav .menu > .cross {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90px;
    padding: 30px;
    top: 0;
    left: 0;
  }
  header nav .menu > .hamburger img,
  header nav .menu > .cross img {
    margin: 0;
  }
  header nav .menu > .cross {
    display: none;
  }
  header nav .logo img {
    margin: 0;
  }
  header nav > button {
    display: inline;
  }
  header nav .cross {
    display: none;
  }
  header nav .button {
    display: none;
  }
  header nav .navbar__item {
    display: none;
  }
}
.slide {
  display: none;
}

.slide-menu {
  min-width: 360px;
}
.slide-menu .slide {
  display: inline-block;
}
.slide-menu .background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: black;
  z-index: 2;
}
.slide-menu .container {
  position: relative;
  z-index: 3;
  flex-direction: column;
  background-color: #F2F5F9;
}
.slide-menu .container .menu .hamburger {
  display: none;
}
.slide-menu .container .menu .cross {
  display: inline;
}
.slide-menu .container .menu .navbar__item a {
  color: #fff;
}
.slide-menu .container .navbar__links {
  width: 100%;
  font-size: 18px;
  background-color: #495567;
  position: absolute;
  left: -70%;
  top: 90px;
  height: calc(100vh - 90px);
  width: 70%;
  transition: transform 1s;
  transform: translateX(100%);
  flex-direction: column;
  align-items: flex-start;
  padding-top: 64px;
  padding-bottom: 200px;
  text-align: start;
}
.slide-menu .container .navbar__links li {
  padding-left: 32px;
}
.slide-menu .container .navbar__links li:last-child {
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 32px;
}
.slide-menu .container .navbar__links .slide-button {
  margin: 0 auto;
  display: grid;
}
.slide-menu .container .navbar__item {
  display: inline;
}

.reverse {
  transform: rotateZ(180deg);
  transform: rotateY(180deg);
}
.reverse article img,
.reverse p,
.reverse h2,
.reverse a {
  transform: rotatey(180deg);
}
.reverse a {
  justify-self: end;
}

.with-button .text-content a {
  display: grid;
  margin: 32px auto 0 auto;
}

.row {
  position: relative;
}
.row a {
  display: none;
  margin-top: 40px;
}
.row article {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 120px;
  position: relative;
}
.row article .image {
  height: 100%;
}
.row article .image .aside-circle {
  position: absolute;
  right: -514px;
  z-index: -1;
}
.row article .image img {
  width: 445px;
  height: 445px;
  border-radius: 50%;
}
.row article .text-content {
  margin: 125px 0;
  padding-right: 220px;
  display: grid;
}
.row article .text-content p {
  margin-top: 25px;
  color: #939CAA;
}

@media screen and (max-width: 1110px) {
  .row article {
    flex-direction: column;
    align-items: center;
  }
  .row article .text-content {
    margin-top: 50px;
    padding: 0 100px;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .row .aside-circle {
    display: none;
  }
  .row article .image img {
    width: 311px;
    height: 311px;
  }
  .row article .text-content {
    margin: 0;
    padding: 0;
    margin-top: 56px;
  }
  .row article .text-content p {
    margin-top: 32px;
  }
}
.hero {
  margin: 0 auto;
  position: relative;
  background-color: #2F3B59;
  margin: auto;
  overflow: hidden;
  padding: 150px 165px;
}
.hero .heading-circles {
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 165px;
}
.hero .background {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.hero .background .heading-background {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  opacity: 0.2;
  z-index: 0;
}
.hero .text-content {
  width: 500px;
  position: relative;
  z-index: 1;
}
.hero .text-content h1 {
  color: white;
}
.hero .text-content p {
  padding-top: 40px;
  color: white;
  padding-left: 95px;
}
.hero .text-content a {
  margin-top: 40px;
  margin-left: 95px;
}
.hero .text-content .heading-arrow,
.hero .text-content .heading-line {
  position: absolute;
}
.hero .text-content .heading-line {
  left: -162px;
  bottom: 126px;
}
.hero .text-content .heading-line hr {
  position: absolute;
  width: 5000px;
  left: -4990px;
  top: 9px;
  transform: translateY(-60%);
  height: 14px;
  border: none;
  background-color: #FCB72B;
}
.hero .text-content .heading-arrow {
  right: -486px;
  bottom: -7px;
}

@media screen and (max-width: 1380px) {
  .hero .heading-circles {
    bottom: 45px;
  }
  .hero h1 {
    text-align: center;
  }
}
@media screen and (max-width: 1175px) {
  .hero {
    grid-template-columns: 1fr 0;
    padding: 165px 0;
    margin: 0 auto;
  }
  .hero .background {
    z-index: 0;
  }
  .hero .text-content {
    text-align: center;
    position: static;
  }
  .hero .text-content p {
    padding-left: 0;
  }
  .hero .text-content a {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .hero .text-content .heading-line {
    display: none;
  }
  .hero .text-content .heading-arrow {
    right: auto;
    left: -94px;
    bottom: 38px;
  }
}
@media screen and (max-width: 600px) {
  .hero .heading-circles {
    display: none;
  }
  .hero .text-content {
    width: auto;
  }
  .hero .text-content .heading-arrow {
    left: -280px;
  }
}
.list-row ul {
  margin-top: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.list-row ul li {
  display: grid;
  position: relative;
}
.list-row ul li h4 {
  padding-top: 40px;
}
.list-row ul li p {
  padding-top: 25px;
}
.list-row ul li hr {
  height: 15px;
  background-color: #E5ECF4;
  border: none;
  width: 5000px;
  position: absolute;
  left: -4995px;
  top: 48px;
  transform: translateY(-50%);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .list-row ul {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .list-row ul li {
    grid-template-columns: 1fr 2fr;
  }
  .list-row ul li .yellow-circle {
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
  }
  .list-row ul li hr {
    left: 48px;
    top: -900px;
    transform: translate(-50%);
    width: 15px;
    height: 1000px;
  }
}
@media screen and (max-width: 485px) {
  .list-row ul li {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .list-row ul li hr {
    display: none;
  }
}
/*#region content rows*/
.row1 article .image {
  position: relative;
}
.row1 article .image svg {
  position: absolute;
  bottom: 0px;
  left: -125px;
}
.row1 article .image hr {
  position: absolute;
  height: 14px;
  background-color: #FCB72B;
  border: none;
  width: 5000px;
  bottom: 136px;
  right: -5000px;
}

@media screen and (max-width: 1110px) {
  .row1 article .image {
    position: relative;
  }
  .row1 article .image svg {
    position: absolute;
    bottom: 0px;
    left: -120px;
  }
}
@media screen and (max-width: 680px) {
  .row1 article .image .svg svg {
    top: 120px;
    left: -20px;
    height: 100%;
    width: 250%;
  }
  .row1 article .image hr {
    display: none;
  }
  .row2 article .image .svg svg {
    top: -120px;
    right: -180px;
    height: 100%;
    width: 120%;
  }
  .row2 article .image hr {
    display: none;
  }
  .row3 article .image .svg svg {
    top: 0px;
    left: 190px;
    height: 50%;
    width: 120%;
  }
  .row3 article .image hr {
    display: none;
  }
}
.row2 article .image {
  position: relative;
}
.row2 article .image svg {
  position: absolute;
  right: -180px;
  top: 0;
  transform: rotateY(180deg);
}
.row2 article .image hr {
  position: absolute;
  height: 16px;
  background-color: #FCB72B;
  border: none;
  width: 5000px;
  top: 0;
  right: -5000px;
}

.row3 article .image {
  position: relative;
}
.row3 article .image svg {
  position: absolute;
  right: -160px;
  top: 80px;
}
.row3 article .image hr {
  position: absolute;
  height: 16px;
  background-color: #FCB72B;
  border: none;
  width: 5000px;
  top: 80px;
  right: -5000px;
}

/*#endregion content rows*//*# sourceMappingURL=style.css.map */