@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "lexend deca";
  min-width: 350px;
}

a {
  color: #495567;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  min-width: 310px;
}

.round {
  border-radius: 50%;
}

.yellow-circle {
  font-family: "space mono";
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-weight: 700;
  color: #495567;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  color: #495567;
  background-color: #FCB72B;
}

.button {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  background-color: #FCB72B;
  font-size: 15px;
  font-weight: 700;
  font-family: "space mono";
  color: white;
  border: 3px solid #FCB72B;
}

.button:hover {
  background-color: transparent;
  color: #FCB72B;
}

h1 {
  font-family: "space mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  font-weight: 700;
  color: #495567;
}

h2 {
  font-family: "space mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  font-weight: 700;
  color: #495567;
}

h3 {
  font-family: "space mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.79px;
  font-weight: 700;
  color: #495567;
}

h4 {
  font-family: "space mono";
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-weight: 700;
  color: #495567;
}

p {
  font-family: "lexend deca";
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 32px;
  }
}
footer {
  background-color: #495567;
  position: relative;
  width: 100%;
}
footer .background-circles-desktop {
  z-index: 0;
  position: absolute;
  bottom: 96px;
  right: 0;
}
footer .background-circles-mobile {
  display: none;
}
footer h5 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.89px;
}
footer p {
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
}
footer .footer-top .container {
  display: flex;
  justify-content: space-between;
}
footer .footer-top .container * {
  color: white;
}
footer .footer-top .container > * {
  margin: 102px 0;
}
footer .footer-top .container .buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 1;
}
footer .footer-top .container .buttons * {
  color: #495567;
}
footer .footer-top .container .buttons > div {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 4px;
  margin-left: 32px;
  background-color: #E5ECF4;
}
footer .footer-top .container .buttons > div img {
  padding-left: 16px;
  height: 28px;
  opacity: 1;
}
footer .footer-top .container .buttons > div .text-content {
  padding: 8px 15px 8px 12px;
}
footer .footer-bottom {
  background-color: #333a44;
}
footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 31px 0;
}
footer .footer-bottom .container ul {
  display: flex;
  align-items: center;
}
footer .footer-bottom .container .footer-menu > li:first-child {
  margin-right: 60px;
}
footer .footer-bottom .container .footer-menu li {
  margin: 0 16px;
}
footer .footer-bottom .container .footer-menu li:hover {
  color: #FCB72B;
}
footer .footer-bottom .container .footer-menu * {
  color: #939CAA;
}
footer .footer-bottom .container .socmed li {
  margin-left: 24px;
}
footer .footer-bottom .container .socmed li:hover path {
  fill: white;
}

@media screen and (max-width: 1150px) {
  .footer-bottom, .footer-top {
    padding: 0 40px;
  }
}
@media screen and (max-width: 795px) {
  footer .footer-top {
    position: relative;
  }
  footer .footer-top .background-circles-desktop {
    display: none;
  }
  footer .footer-top .background-circles-mobile {
    display: inline;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  footer .footer-top .container {
    flex-direction: column;
  }
  footer .footer-top .container h2 {
    font-size: 32px;
    line-height: 32px;
    margin: 88px 0 40px 0;
    text-align: center;
  }
  footer .footer-top .container h2 br {
    display: none;
  }
  footer .footer-top .container .buttons {
    justify-content: center;
    margin: 0;
    margin-bottom: 88px;
  }
  footer .footer-top .container .buttons .apple {
    margin: 0;
  }
}
@media screen and (max-width: 650px) {
  footer .footer-bottom * {
    flex-direction: column;
    justify-content: center;
  }
  footer .footer-bottom .container .footer-menu > li:first-child {
    margin: 0;
    margin-top: 64px;
    margin-bottom: 25px;
  }
  footer .footer-bottom .container .footer-menu li {
    margin-top: 16px;
  }
  footer .footer-bottom .container .socmed {
    flex-direction: row;
    margin-top: 80px;
  }
  footer .footer-bottom .container .socmed li {
    margin: 16px;
  }
}
@media screen and (max-width: 375px) {
  footer .footer-top .container .buttons {
    flex-direction: column;
  }
  footer .footer-top .container .buttons .google {
    margin: 0;
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */