@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body, html {
  overflow-x: hidden;
}

body {
  font-family: "lexend deca";
  min-width: 350px;
}

a {
  color: #495567;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  min-width: 310px;
}

.round {
  border-radius: 50%;
}

.yellow-circle {
  font-family: "space mono";
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-weight: 700;
  color: #495567;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  color: #495567;
  background-color: #FCB72B;
}

.button {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  background-color: #FCB72B;
  font-size: 15px;
  font-weight: 700;
  font-family: "space mono";
  color: white;
  border: 3px solid #FCB72B;
}

.button:hover {
  background-color: transparent;
  color: #FCB72B;
}

h1 {
  font-family: "space mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  font-weight: 700;
  color: #495567;
}

h2 {
  font-family: "space mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  font-weight: 700;
  color: #495567;
}

h3 {
  font-family: "space mono";
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.79px;
  font-weight: 700;
  color: #495567;
}

h4 {
  font-family: "space mono";
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-weight: 700;
  color: #495567;
}

p {
  font-family: "lexend deca";
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 32px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hamburger {
  display: none;
}
header .cross {
  display: none;
}
header nav .menu > button {
  display: none;
}
header nav .menu {
  display: flex;
}
header nav .menu img {
  margin-right: 60px;
}
header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .navbar__links {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
header .navbar__item {
  text-align: center;
}
header .navbar__item a {
  color: #939CAA;
}
header .navbar__item a:hover {
  color: #FCB72B;
}
header button {
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  header .container {
    justify-content: center;
  }
  header nav {
    position: relative;
  }
  header nav .menu > .hamburger,
  header nav .menu > .cross {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90px;
    padding: 30px;
    top: 0;
    left: 0;
  }
  header nav .menu > .hamburger img,
  header nav .menu > .cross img {
    margin: 0;
  }
  header nav .menu > .cross {
    display: none;
  }
  header nav .logo img {
    margin: 0;
  }
  header nav > button {
    display: inline;
  }
  header nav .cross {
    display: none;
  }
  header nav .button {
    display: none;
  }
  header nav .navbar__item {
    display: none;
  }
}
.slide {
  display: none;
}

.slide-menu {
  min-width: 360px;
}
.slide-menu .slide {
  display: inline-block;
}
.slide-menu .background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: black;
  z-index: 2;
}
.slide-menu .container {
  position: relative;
  z-index: 3;
  flex-direction: column;
  background-color: #F2F5F9;
}
.slide-menu .container .menu .hamburger {
  display: none;
}
.slide-menu .container .menu .cross {
  display: inline;
}
.slide-menu .container .menu .navbar__item a {
  color: #fff;
}
.slide-menu .container .navbar__links {
  width: 100%;
  font-size: 18px;
  background-color: #495567;
  position: absolute;
  left: -70%;
  top: 90px;
  height: calc(100vh - 90px);
  width: 70%;
  transition: transform 1s;
  transform: translateX(100%);
  flex-direction: column;
  align-items: flex-start;
  padding-top: 64px;
  padding-bottom: 200px;
  text-align: start;
}
.slide-menu .container .navbar__links li {
  padding-left: 32px;
}
.slide-menu .container .navbar__links li:last-child {
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 32px;
}
.slide-menu .container .navbar__links .slide-button {
  margin: 0 auto;
  display: grid;
}
.slide-menu .container .navbar__item {
  display: inline;
}/*# sourceMappingURL=header.css.map */